.images-container {
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 70px 10px 0 10px;

  p {
    max-width: 750px;
    text-align: center;
  }
}

.first-para {
  margin-bottom: 25px;
}