* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  /* font-weight: 550; */
}

p {
  line-height: 1.8;
  /* font-weight: 525; */
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
}

header {
  flex: 0 0 0;
  margin-bottom: 70px;
}

main {
  flex: 1;
  margin-bottom: 70px;
}

footer {
  flex: 0 0 70px;
  display: flex;
  align-items: center;
  background-color: black;
  justify-content: center;
  margin-top: 130px;

  p {
    color: white;
  }
}

h1 {
  padding: 25px 10px;
  font-size: 1.7em;
}


ul {
  list-style-type: none;
}

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.nav-link {
  text-align: center;
  flex: 1;
  border-left: 1px solid white;
  padding: 8px 0px;
  background-color: black;
}

.first-link {
  border-left: none;
}

.active-page {
  background-color: rgb(0, 0, 0, .75);
}

a {
  text-decoration: none;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  font-weight: bold;
}