* {
  box-sizing: border-box;
  /* border: 1px solid red; */
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
}

h1 {
  padding: 25px 0px;
}


ul {
  list-style-type: none;
}

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  background-color: black;
}

.nav-link {
  display: flex;
  justify-content: center;
  flex: 1;
  border-left: 1px solid white;
  padding: 8px 0px;
}

.first-link {
  border-left: none;
}

a {
  text-decoration: none;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  color: grey;
}