main {
  display: flex;
  justify-content: center;
}

h2 {
  text-align: center;
  font-size: 1.4em;
  padding: 0 0 25px 0;
}

.details-container {
  width: 500px;
  margin: 0 10px;
  padding: 20px 0
}

details {
  border: 1px solid black;
  padding: 8px 10px;
  width: 100%;
  background-color: rgb(170, 170, 170);
}

summary {
  font-weight: bold;
  text-align: center;
}