.slideshow-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
  /* prevents browser from hijacking scroll gesture */
  touch-action: none;
  transition: opacity 1s ease-in;
}

.img-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 750px;
}

.left-btn,
.right-btn {
  padding: 12px 8px;
  border: none;
  background-color: white;
  color: black;
  font-size: 19px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 70px 10px 0 10px;

  p {
    max-width: 750px;
    text-align: center;
  }
}

.first-para {
  margin-bottom: 25px;
}

.bubble-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 15px 0;
}

.bubble {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: solid grey 1px;
  margin: 0 5px;
}
